# =========================
# ROS 2 / Colcon
# =========================
ros2_ws/build/
ros2_ws/install/
ros2_ws/log/

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
Makefile

# Python
__pycache__/
*.py[cod]
*.pyo

# VS Code
.vscode/

# Linux
*~
.DS_Store

# Temporary files
*.swp
*.swo
